__pycache__
clenv
datasets
experiments
results
wandb
credentials.py
*.png
figures
temp.sh
logistic_experiment_res
logs
bash_scripts
optimal_memory
hessian_stability
*logs
*__pycache__
*results
*notebooks
*.egg-info